*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
    /* font-family: 'Big Shoulders Display', cursive; */

}

main {
    display: flex;
    overflow: hidden;
    border-radius: .7rem;
    box-shadow: 4px 10px 15px 10px rgba(0,0,0,0.1);
}

div{
    max-width: 30.5rem;
    padding: 4.5rem;
}

.card-1{
    background-color: hsl(31, 77%, 52%);
}

.card-2{
    background-color: hsl(184, 100%, 22%);
}

.card-3{
    background-color: hsl(179, 100%, 13%);
}

img{
    margin-bottom: 4rem;
}

h1{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 3.8rem;
    margin-bottom: 4rem;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.5rem;
    margin-bottom: 8.5rem;
}

button{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.7rem;
    padding: 1.5rem 3rem;
    background-color: hsl(0, 0%, 95%);
    border: .3rem solid hsl(0, 0%, 95%);
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color .4s;
}

.card-1 button{
    color:hsl(31, 77%, 52%);
}
.card-2 button{
    color:hsl(184, 100%, 22%);
}
.card-3 button{
    color:hsl(179, 100%, 13%);
}

.card-1 button:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
.card-2 button:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
.card-3 button:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

@media all and (max-width:911px){

    body{
        padding: 8.3rem 0 8.3rem 0;
    }

    main {
        flex-direction: column;
    }
}